header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links p {
    margin: 0 10px;
}

.header-icons {
    display: flex;
}

.header-icon {
    margin: 0 10px;
    align-items: center;
    width: 60px;
}